<%- include('includes/head'); %>
<section class="container">
    <form action="/criarUsuario" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label>Nome:</label>
        <input type="text" name="nome" />
        <label>E-mail:</label>
        <input type="email" name="email" />
        <label>Senha:</label>
        <input type="password" name="password" />
        <button>Enviar</button>
    </form>
</section>
<%- include('includes/body'); %>