<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
</head>
<body>
    <h1>Usuário</h1>
    <% arrayUsuario.map(propriedade => { %>
        <p><%= propriedade.nome %></p>
        <p><%= propriedade.email %></p>
    <% }) %>
</body>
</html>